#GnuPGInterface==0.3.2
MapProxy==1.8.0
PIL==1.1.7
PyYAML==3.10
apt-xapian-index==0.44
argparse==1.2.1
chardet==2.0.1
command-not-found==0.2.44
distribute==0.6.24
language-selector==0.1
python-apt==0.8.3ubuntu7
python-debian==0.1.21ubuntu1
ufw==0.31.1-1
virtualenv==1.7.1.2
wsgiref==0.1.2

